---
layout: default

personal_description: 
 I'm a full stack developer currently based in Bristol, UK who will be relocating to Toronto in August 2016.


 I code primarily in JavaScript and Python. I focus primarily on Web Technologies but aslo have experience in various other areas such as DevOps, High Performance Computing and Design Verification.


 Looking primarily for full stack positions within the Greater Toronto Area. Plesse Email for further information.

details:
 - name: Andrew Stuart
 - location: Toronto, Canada <span class="sub-text">(as of August '16)</span>
 - employment: Actively Looking
 - education: MEng Computer Science, </br> University of Bristol, UK
 - citizenship: Dual British and Canadian

links:
 - name: email
   username: narayn60@gmail.com
   link: "mailto:narayn60@gmail.com"
 - name: github
   username: narayn60
   link: https://github.com/narayn60
 - name: bitbucket
   username: narayn60
   link: https://bitbucket.org/narayn60
 - name: twitter
   username: '@narayn60'
   link: https://twitter.com/narayn60
 - name: stack overflow
   username: narayn60
   link: http://stackoverflow.com/users/2348740/narayn60

---

<div class="home">
  <div class="row home-header">
    <div class="col-md-3 col-md-offset-2 col-xs-12">
      <img class="home-pic img-responsive center-block" src="/assets/images/main.jpg"/>
    </div>
    <div class="col-md-5 personal-description">
      {{ page.personal_description | newline_to_br }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <table class="detail-table">
        {% for detail_hash in page.details %}
        {% for detail in detail_hash %}
        <tr>
          <td class="link-description"><p>{{ detail[0] }}</p></td>
          <td><p>{{ detail[1] }}</p></td>
        </tr>
        {% endfor %}
        {% endfor %}
      </table>
    </div>

    <div class="col-md-4">
      <table class="detail-table">
        {% for link in page.links %}
        <tr>
          <td class="link-description">
            <p>{{ link.name }}</p>
          </td>
          <td>
            <p>
             <a class="link" href="{{ link.link }}">{{ link.username }}</a>
            </p>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row text-center resume">
    Link to <a href="/assets/andrewstuartresume.pdf">Resume</a>
  </div>
</div>
