<header class="site-header">

    <nav class="navbar navbar-default" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="nav-item">
            <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="nav-item">
            <a href="/assets/andrewstuartresume.pdf">Resume</a>
          </li>
        </ul>
      </div>
    </nav>

</header>
